<?xml version="1.0" encoding="UTF-8"?>
<!-- FilmNote/src/main/java/mapper/reviewMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewSQL">
	
	<insert id="insertReviewDTO" parameterType="review">
		insert into review_tb values(null, #{movie_code}, #{user_id}, #{content}, now(), #{score})
	</insert>
	
	<select id="getReviewList" parameterType="review" resultType="review">
		select * from review_tb where movie_code = #{movie_code} order by logtime desc
	</select>
	
	<update id="updateReviewDTO" parameterType="review">
		update review_tb set content=#{content}, score=#{score} WHERE rcode = #{rcode} and movie_code = #{movie_code} and user_id = #{user_id}
	</update>
	
	<delete id="deleteReviedDTO" parameterType="int">
		delete from review_tb where rcode = #{rcode}
	</delete>
	
</mapper>